<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hk.ljx.fishpicsbackend.mapper.PicSystemMapper">

    <resultMap id="BaseResultMap" type="hk.ljx.fishpicsbackend.system.PicSystem">
            <id property="id" column="id" />
            <result property="syskey" column="syskey" />
            <result property="sysvalue" column="sysvalue" />
    </resultMap>

    <sql id="Base_Column_List">
        id,syskey,sysvalue
    </sql>
</mapper>
