<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hk.ljx.fishpicsbackend.mapper.PictureMapper">

    <resultMap id="BaseResultMap" type="hk.ljx.fishpicsbackend.picture.entity.Picture">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="pictureName" column="picture_name" />
            <result property="url" column="url" />
            <result property="width" column="width" />
            <result property="height" column="height" />
            <result property="size" column="size" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="spaceId" column="space_id" />
            <result property="introduction" column="introduction" />
            <result property="type" column="type"/>
            <result property="resourceId" column="resource_id"/>
            <result property="isSelected" column="is_selected"/>
            <result property="version" column="version"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,picture_name,url,width,height,
        size,create_time,update_time,
        space_id,introduction,type,resource_id,is_selected,version
    </sql>
</mapper>
