<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hk.ljx.fishpicsbackend.mapper.PictureChildMapper">

    <resultMap id="BaseResultMap" type="hk.ljx.fishpicsbackend.picture.entity.PictureChild">
        <id property="id" column="id"/>
        <result property="pictureId" column="picture_id"/>
        <result property="postId" column="post_id"/>
        <result property="sortNum" column="sort_num"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,picture_id,post_id,sort_num
    </sql>
</mapper>
