<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hk.ljx.fishpicsbackend.mapper.PostMapper">

    <resultMap id="BaseResultMap" type="hk.ljx.fishpicsbackend.entity.Post">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="title" column="title" />
            <result property="content" column="content" />
            <result property="status" column="status" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="isDelete" column="is_delete" />
            <result property="likesNum" column="likes_num" />
            <result property="collectsNum" column="collects_num" />
            <result property="commentNum" column="comment_num" />
            <result property="isPrivate" column="is_private" />
            <result property="cover" column="cover" />
            <result property="viewsNum" column="views_num" />
            <result property="hot" column="hot" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,title,content,status,create_time,
        update_time,is_delete,likes_num,collects_num,comment_num,
        is_private,cover,views_num,hot
    </sql>
</mapper>
